
.icon-th-list:before { content: '\e800'; } /* '' */
.icon-ok:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-progress-0:before { content: '\e803'; } /* '' */
.icon-progress-1:before { content: '\e804'; } /* '' */
.icon-progress-2:before { content: '\e805'; } /* '' */
.icon-progress-3:before { content: '\e806'; } /* '' */
.icon-progress-4:before { content: '\e807'; } /* '' */
.icon-progress-5:before { content: '\e808'; } /* '' */
.icon-progress-6:before { content: '\e809'; } /* '' */
.icon-progress-7:before { content: '\e80a'; } /* '' */
.icon-quote-left:before { content: '\e80b'; } /* '' */
.icon-quote-right:before { content: '\e80c'; } /* '' */
.icon-comment:before { content: '\e80d'; } /* '' */
.icon-pencil-alt:before { content: '\e80e'; } /* '' */
.icon-eye:before { content: '\e80f'; } /* '' */
.icon-pin:before { content: '\e810'; } /* '' */
.icon-down:before { content: '\e811'; } /* '' */
.icon-left:before { content: '\e812'; } /* '' */
.icon-right:before { content: '\e813'; } /* '' */
.icon-up:before { content: '\e814'; } /* '' */
.icon-doc:before { content: '\e815'; } /* '' */
.icon-doc-inv:before { content: '\e816'; } /* '' */
.icon-doc-alt:before { content: '\e817'; } /* '' */
.icon-doc-inv-alt:before { content: '\e818'; } /* '' */
.icon-pitch:before { content: '\e82a'; } /* '' */